.sideNav {
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  overflow: scroll;
}

@media screen and (min-width: 800px) {
  .sideNav {
    position: relative;
    left: 0;
    height: 100%;
    width: 220px;
    overflow: scroll;
  }
}