.deviceDetailView {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;
}

.chartContainer {
    position: relative;
    margin-right: 10px;
}

.title {
    margin: 25px 0 15px;
}

.backLink {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;

    svg {
        position: relative;
        top: 2px;
        left: -2px;

        fill: rgb(120, 36, 216);
    }
}

@media screen and (min-width: 800px) {
    .deviceDetailView {
        grid-template-columns: 50% 50%;
    }

    .chartContainer {
        margin-right: 20px;
        padding-right: 20px;
    }
}
