@media screen and (min-width: 500px) {
    .FormContainer {
        max-width: 400px;
    }
}

.formItem {
    margin-bottom: 10px;
}

.formItemError {
    .formInput {
        border: 1px solid rgb(224, 35, 83);
    }
}

.formLabel {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 3px;
}

.formInput {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 2px;
    box-shadow: none;
    outline: none;
    font-weight: 300;
}

.formError {
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: -1px;
    padding: 7px 0;
    border-radius: 0 0 2px 2px;
    color: rgb(224, 35, 83);
    font-size: 12px;
    line-height: 15px;
}

.formSubmit {
    input {
        width: 100%;
        color: white;
        border: none;
        margin: 5px 0 15px;
        padding: 10px 20px;
        font-weight: 300;
        border-radius: 2px;
        background: rgb(120, 36, 216);
        outline: none;
        cursor: pointer;

        &:hover,
        &:focus {
            background: rgb(107, 27, 198);
        }
    }
}

@media screen and (min-width: 500px) {
    .formSubmit {
        input {
            width: auto;
        }
    }
}

.formInfo {
    color: rgb(224, 35, 83);
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;
}
