.logo {
  display: inline-block;
  margin: 0;
  padding: 15px;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  a {
    color: white; 

    &:hover,
    &:focus {
      color: white; 
    }
  }
} 