.deviceOverview {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}

@media screen and (min-width: 1000px) {
    .deviceOverview {
        grid-template-columns: repeat(2, 1fr);
    }
}

.device {
    display: inline-block;
    box-sizing: content-box;
    border-radius: 2px;
    background: rgb(230, 230, 230);
    transition: all 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
        background: rgb(200, 200, 200);
    }
}

.alert {
    background: rgba(255, 142, 158, 0.3);

    .statusDot {
        animation: alertAnimation 2s infinite;
        background: #ff1c3a;
    }

    &:hover {
        background: rgba(255, 142, 158, 0.5);
    }
}

.deviceHead {
    display: flex;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

.status {
    flex: 0;
}

.title {
    flex: 1;
    align-self: center;
    padding-left: 10px;
    font-size: 20px;
}

.lastUpdate {
    padding-right: 30px;
    font-size: 13px;
}

.statusDot {
    position: relative;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    background: rgb(129, 229, 6);
    transform: scale(0.9);
    transition: all 0.1s ease-in-out;
    animation: normalAnimation 2s infinite;
    background: #8bef00;
}

.showDetailLink {
    svg {
        fill: rgb(100, 100, 100);
        transition: all 0.1s ease-in-out;
    }

    &:hover {
        svg {
            fill: rgb(70, 70, 70);
        }
    }
}

.deviceContent {
    display: grid;
    grid-template-columns: 50% 50%;
    box-sizing: border-box;
}

@media screen and (min-width: 600px) {
    .deviceContent {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

.deviceTile {
    flex: 1;
    padding: 0 15px 15px;
}

.deviceTileAlert {
    .tileHeader {
        color: #d6000a;
        font-weight: 700;
    }
}

.tileHeader {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 13px;
}

.tileInfo {
    position: relative;
    display: flex;
    font-weight: 700;
}

.tileInfoIcon {
    display: inline-block;
    position: absolute;
    top: -2px;
    left: 68px;
}

.tileInfoIconNormal {
    position: relative;
    top: -2px;
    left: 2px;

    svg {
        fill: grey;
    }
}

.deviceFoot {
    display: flex;
    box-sizing: border-box;
}

.deviceFoot {
    .deviceTile {
        font-size: 13px;
        text-align: right;
    }
}

@keyframes normalAnimation {
    0% {
        background: #8bef00;
    }

    50% {
        background: #60ce00;
    }

    100% {
        background: #8bef00;
    }
}

@keyframes alertAnimation {
    0% {
        background: #ff1c3a;
    }

    50% {
        background: #d6000a;
    }

    100% {
        background: #ff1c3a;
    }
}

.tempStatus {
    position: absolute;
    transition: all 0.3s ease-in-out;

    svg {
        fill: grey;
    }
}

.temp-status-normal {
    transform: rotate(0deg);
}

.temp-status-up {
    transform: rotate(-45deg);
}

.temp-status-down {
    transform: rotate(45deg);
}
